@import "../../../sass/variables";
@import "../../../sass/mixins";

.Templates__ {
  background-color: #334;
  color: white;
}

.Templates__h3 {
  text-align: center;
  margin-top: 2em;
}

// * template 1A
.Template1A {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border: 1px solid white;
  @include padmar(3em, 0 10em);

  .Template1A__container-left {
    @include flexbox(flex, column, 0, 0, 0);
    width: 100%;
  }

  .Template1A__container-right {
    @include flexbox(flex, 0, center, center);
    max-height: 350px;
    width: 100%;
  }
}

// * template 1B
.Template1B {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border: 1px solid white;
  @include padmar(3em, 0 10em);

  .Template2A__container-left {
    @include flexbox(flex, column);
    width: 100%;
  }

  .Template2A__container-right {
    @include flexbox(flex, 0, center, center);
    width: 100%;
  }
}

.Template2A {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border: 1px solid white;
  @include padmar(3em, 0 10em);

  .Template2A__container {
    @include flexbox(flex, column, center, center);
    padding: 0 1em;

    p {
      text-align: center;
    }
  }
}

.Template2B {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border: 1px solid white;
  @include padmar(3em, 0 10em);

  .Template2B__container {
    @include flexbox(flex, column);
    @include padmar(0 1em, 0.5em 0 0 0);

    .Template2B__container-title {
      @include flexbox(flex, row, flex-start, center);

      img {
        border: 1px solid white;
      }

      h3 {
        text-decoration: underline;
        margin-left: 0.25em;
      }
    }
  }
}

.Template3A {
  @include flexbox(flex, column, center, center);
  border: 1px solid white;
  @include padmar(1em 25em, 0 10em);

  p {
    text-align: center;
  }
}

.Templates__footer {
  background: #334;
  padding-top: 10em;
}

.Template4 {
  display: flex;
  @include padmar(3em, 0 10em);
  border: 1px solid white;

  .Template4__container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
  }

  .Template4__container-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow-x: scroll;

    .Template4__container-right-div {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 1px solid white;
      padding: 0 3em;
      margin: 0 3em;
    }
  }
}

// .d-flex::-webkit-scrollbar {
//   width: 10px;
// }

// .d-flex::-webkit-scrollbar-track {
//   background-color: #112;
//   border-radius: 5px;
// }

// .d-flex::-webkit-scrollbar-thumb {
//   background-color: #556;
//   border-radius: 5px;
// }

.image-gallery-container {
  overflow-x: auto;
  position: relative;
}

.image-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 150px;
  padding-right: 20px;
}

/* Styling the scrollbar */
.image-gallery::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.image-gallery::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Styling the scrollbar on hover */
.image-gallery-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Fading the scrollbar to 25% opacity when mouse is not near the container */
.image-gallery-container:not(:hover)::-webkit-scrollbar-thumb {
  opacity: 0.25;
}
